@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.mainpage{width: 90%; height: 100vh; margin: auto; font-family: 'Righteous', cursive;}

.mainpage h1{margin: 0; padding: 20px 0; text-align: center;}

.avatarstyle img{
    width: 200px; height: 200px;
}
